Django>=4.2,<5.0
django-environ
django-cors-headers
django-allauth
django-phonenumber-field[phonenumberslite]
djangorestframework
djangorestframework-simplejwt
django-razorpay
razorpay
celery
redis
gTTS
pydub
requests
whitenoise
Pillow>=10.0.0
