aiohttp
aiosignal
amqp
anthropic
anyio
asgiref
async-timeout
attrs
autobahn
Automat
billiard
blinker
celery
certifi
cffi
channels
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
colorama
constantly
cryptography
daphne
dataclasses-json
defusedxml
Deprecated
distlib
distro
Django
django-allauth
django-cors-headers
django-environ
django-payments
django-payments-razorpay
django-phonenumber-field
django-razorpay
djangorestframework
djangorestframework-simplejwt
et-xmlfile
filelock
Flask
frozenlist
fsspec
gcloud
git-filter-repo
googleapis-common-protos
greenlet
gTTS
h11
httpcore
httplib2
httpx
huggingface-hub
hyperlink
idna
incremental
itsdangerous
Jinja2
jiter
jsonpatch
jsonpointer
jwcrypto
kombu
langchain
langchain-anthropic
langchain-community
langchain-core
langchain-text-splitters
langsmith
MarkupSafe
marshmallow
mpmath
multidict
mypy-extensions
mysqlclient
networkx
numpy
oauth2client
oauthlib
openai
openpyxl
orjson
outcome
packaging
phonenumberslite
Pillow>=10.0.0
pinecone-client
pinecone-plugin-inference
pinecone-plugin-interface
platformdirs
prompt_toolkit
protobuf
psycopg2-binary
pyactiveresource
pyasn1
pyasn1-modules
pycparser
pycryptodome
pydantic
PyJWT
pyOpenSSL
pyparsing
PySocks
python-dateutil
python-decouple
python-dotenv
python-jwt
python3-openid
pytz
PyYAML
razorpay
redis
regex
reportlab
requests
requests-oauthlib
requests-toolbelt
rsa
safetensors
selenium
service-identity
ShopifyAPI
simplejson
six
sniffio
sortedcontainers
SQLAlchemy
sqlparse
sympy
tenacity
tokenizers
torch
tqdm
transformers
trio
trio-websocket
Twisted
txaio
typing-inspect
typing_extensions
tzdata
urllib3
vine
virtualenv
vonage
vonage-jwt
wcwidth
webdriver-manager
websocket-client
Werkzeug
wrapt
wsproto
XlsxWriter
xlwt
yahoo-finance
yarl
zope.interface
whitenoise
